@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    margin:0;
    padding:0;
    font-size: 20px;
}
.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size:30px;
}
a{
    text-decoration: none;
    color:black;

}

.pic{
    background-size: cover;
    background-repeat: no-repeat;

}

.nav {
    display: flex;
    height: 70px;
    place-items: center;
    justify-content: space-between;
  }
  .div1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    font-weight: bold;
    font-size:30px;
    gap:20px;

}
.div2{
    width: 30%;

}
.div3{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
    width: 50%;
    color:white;
    font-weight: bold;
    font-size:20px;
    gap:20px;
}
.selected{
    background-color: rgb(75, 46, 46);
    border-radius:20px;
    padding:5px 10px;
    color: white;
}
  
.text_nav {
    height: 70%;
    margin-right: 20px;
  }
.main{
    background-image: url(membg.jpg);
    border:solid;
    display:flex;
    height: 90dvh;
    gap:40px;
    align-items: center;

}
.leftpic{
    display: flex;
    justify-self: center;
    height:80%;
    width: 80dvh;
    margin-left: 5%;   
    gap:5px;
}
.pic1{
    width: 33%;
    height: 100%;
    background-image: url(Adobo.jpeg);

}
.pic2{
    width: 33%;
    height: 100%;
    background-image: url(Sinigang.jpg);

}
.pic3{
    width: 33%;
    height: 100%;
    background-image: url(Sisig.jpeg);
}

.titleRight{
    font-size:20dvh;
}

.members {
    display: flex;
    height: 70vh;
    gap: 3%;
    align-items: center;
    background-color: rgb(45, 39, 39);
    justify-content: center;
}

.fc {
    height: 50vh;
    width: 20%;
    position: relative; /* Ensure proper positioning for overlay effect */
    overflow: hidden; /* Hide overflow from the image */
}

.container {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}



.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 140, 186, 0.5); /* Adjust the overlay color and opacity */
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 20px;
}

.container:hover .image-overlay {
    opacity: 1;
}

.overlaytxt {
    white-space: nowrap;
    color: white;
    font-size: 20px;
}



.fooditem{
    margin-bottom:150px;

}

.foodContainer{
    height: 120 dvh;
}
.foodname{
    display: flex;
    height:20dvh;
    justify-content: center;
    align-items: center;
    
}
.foodname name{
    text-align: center;
    font-weight: bold;
    padding:10px;
    font-size: 3em;
    width:20%;
    align-self: center;
    border-bottom:Solid black;
}






.foodDesc{
    display: flex;
    height:80dvh;
    gap:2%;
    justify-content: center;
    align-items: center;

}

.ingtxt{
    margin-bottom: 10px;
    font-size:20px;
}

.foodOverview{
    width: 45%;
}



.f1{
    height: 90%;
    width: 45%;
    background-image: url(adviser.jpg);
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
    
}

.f1:hover{
    transform: scale(1.03);     
}

.f2{
    height: 90%;
    width: 45%;
    background-image: url(pres.jpg);
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f2:hover{
    transform: scale(1.03);     
}

.f3{
    height: 90%;
    width: 45%;
    background-image: url(vice.jpg);
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f3:hover{
    transform: scale(1.03);     
}
.f4{
    height: 90%;
    width: 45%;
    background-image: url(viceEx.jpg);
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f4:hover{
    transform: scale(1.03);     
}
.f5{
    height: 90%;
    width: 45%;
    background-image: url(sec.jpg);
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f5:hover{
    transform: scale(1.03);     
}
.f6{
    height: 90%;
    width: 45%;
    background-image: url(tres.jpg);
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f6:hover{
    transform: scale(1.03);     
}
.f7{
    height: 90%;
    width: 45%;
    background-image: url(audi.jpg);
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f7:hover{
    transform: scale(1.03);     
}
.f8{
    height: 90%;
    width: 45%;
    background-image: url(BM.jpg);
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f8:hover{
    transform: scale(1.03);     
}
.f9{
    height: 90%;
    width: 45%;
    background-image: url(BM.jpg);
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f:hover{
    transform: scale(1.03);     
}
.f9{
    height: 90%;
    width: 45%;
    background-image: url(logi.jpg);
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f9:hover{
    transform: scale(1.03);     
}

.f10{
    height: 90%;
    width: 45%;
    background-image: url(md.jpg);
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f10:hover{
    transform: scale(1.03);     
}
.f11{
    height: 90%;
    width: 45%;
    background-image: url(pr.jpg);
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f11:hover{
    transform: scale(1.03);     
}
.f12{
    height: 90%;
    width: 45%;
    background-image: url(4th.jpg);
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f12:hover{
    transform: scale(1.03);     
}
.f13{
    height: 90%;
    width: 45%;
    background-image: url(3rd.jpg);
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f13:hover{
    transform: scale(1.03);     
}
.f14{
    height: 90%;
    width: 45%;
    background-image: url(2nd.jpg);
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f14:hover{
    transform: scale(1.03);     
}
.f15{
    height: 90%;
    width: 45%;
    background-image: url(1st.jpg);
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f15:hover{
    transform: scale(1.03);     
}


.text{
    margin: 5%;
    
}
#BigFont{
    font-size: 30px;

}

.instructions{
    margin-top: 10px;
    text-align: justify;
}

/* Video */


.OH{
    display: flex;
    margin-top:5dvh;
    height:30dvh;
    justify-content: center;
    align-items: center;
    background-image: url(bg.jpg);
}
.OHTitle{
    font-size: 50px;
    text-align: center;
    height:fit-content;
    width:50%;
    font-weight: bold;

}

.OHContent{
    margin-top: 10px;
    height: 80dvh;
    
}


.OHContent{
    height:120dvh;
}

.OH_top{
    display:flex;
    height:50%;

}

.OH_top_content{
    align-content: center;
    width: 50%;
}
.pic{
    background-size: cover;
    background-repeat: no-repeat;
}

.D1{
    background-image: url(adv1.png);  
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D2{
    background-image: url(adv2.jpg); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D3{
    background-image: url(pres1.png);  
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D4{
    background-image: url(pres1.jpg);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D5{
    background-image: url(vpi1.png);    
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D6{
    background-image: url(vpi2.png); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D7{
    background-image: url(vce1.png); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D8{
    background-image: url(vce2.jpg); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D9{
    background-image: url(sec2.png);    
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D10{
    background-image: url(sec1.png);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D11{
    background-image: url(tres1.png);  
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D12{
    background-image: url(tres2.png); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D13{
    background-image: url(audi1.jpg);   
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D14{
    background-image: url(audi2.jpg);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D15{
    background-image: url(bm1.png);  
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D16{
    background-image: url(bm2.png); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D17{
    background-image: url(logi1.png); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D18{
    background-image: url(logi2.png); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D19{
    background-image: url(md1.jpg); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D20{
    background-image: url(md2.png); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D21{
    background-image: url(pr1.png); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D22{
    background-image: url(pr2.jpg); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D23{
    background-image: url(4th1.png); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D24{
    background-image: url(4th2.jpg); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D25{
    background-image: url(3rd1.png); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D26{
    background-image: url(3rd2.png); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D27{
    background-image: url(2nd1.jpg); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D28{
    background-image: url(2nd2.png); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D29{
    background-image: url(1st1.png); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D30{
    background-image: url(1st2.jpg); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}


.txt_mid{
    padding: 30px;
    font-size: 20px;
}

.returnTop {
    position: sticky;
    position: fixed;
    z-index: 50;
    bottom: 0px;
    right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    button{
      background-color: rgb(75, 46, 46,.5);
      padding-left: 50px;
      padding-right: 50px;
      padding: 20px;
      border-radius: 0.5rem;
      cursor: pointer;
      color: aliceblue;
    }
    a{
      color: white;
      text-decoration: none;
    }
}