@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


body{
    background-color: #000000;
}


.header-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 12px 30px;
    
}
header > a{
    grid-area: 1 / 1 / 1 / 2;
    padding-top: 4%;
    background: #000000;
    width: 60%;
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0).18;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 10;
    animation: floatAnimation 5s infinite alternate;
}
header > a > img:nth-child(1){
    width: 40px;
}
.pages{
    grid-area: 1 / 2 / 1 / 7;
    margin-top: 0%;
    margin-left: -5%;
    padding-top: 1%;
    grid-column: 4 / span 12;
    text-align: center;
    background: linear-gradient(90deg, rgba(37,92,29,1) 0%, rgba(37,92,29,1) 0%, rgba(17,17,17,1) 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0).18;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 10;
    width:1090px;
}
.pages > a{
    font-family: "Montserrat";
    font-size: 12px;
    color: white;
    text-decoration: none;
}
#pages-margin{
    margin-right: 2%;
}
.pages > a:hover{
    color: #fcdd2f;
}
@keyframes floatAnimation{
    0%{
        transform: translateY(0); 
    }
    50%{
        transform: translateY(-5px); 
    }
    100%{
        transform: translateY(0);
    }
}

.body-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-left: 30px;
    padding-right: 40px;
}

.graphics1{
    grid-area: 1 / 1 / 1 / 4;
    height: 180px;
    width: 96%;
    background-color: #2A2828;
    border-radius: 20px;
    opacity: 0.7;
    margin-top: 8%;
}
.graphics2{
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    width: 85%;
    height: 30%;
    border-radius: 20px;
    background-color: #000000;
    color: white;
    font-size: 24px;
    font-family: "Montserrat";
}
.graphics2 > img{
    width: 40px;
    margin-top: 3%;
    margin-left: 2%;
}
#text1{
    margin-top: -15%;
    margin-left: 24%;
}
.graphics3{
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    width: 20%;
    height: 30%;
    border-radius: 20px;
    background-color: #000000;
    color: white;
    font-size: 24px;
    font-family: "Montserrat";
}
.graphics3 > img{
   width: 50px;
   margin-left: 5%;
}
#text2{
    margin-top: -90%;
    margin-left: 140%;
}

.graphics4{
    grid-area: 1 / 4 / 1 / 7;
    margin-top: 8%;
    margin-left: 1%;
    height: 180px;
    border-radius: 20px;
    opacity: 0.7;
    border: 1px solid white;
}
.graphics4 > p{
    margin-left: 4%;
}
.graphics4 > p:nth-child(1){
    width: 70%;
    border: 2px solid #255c1d;
    border-radius: 20px;
}
.graphics4 > p:nth-child(2){
    width: 52%;
    margin-top: 2%;
    border-radius: 20px;
}
.graphics4 > p:nth-child(3){
    width: 90%;
    margin-top: 2%;
}
.graphics4 > a{
    margin-left: 4%;
}
#text3{
    font-family: "Montserrat";
    font-size: 12px;
    color: white;
    text-align: left;
    padding: 2%;
}

.section1{
    grid-area: 2 / 1 / 2 / 6;
    font-size: 60px;
    font-family: "Montserrat";
    color: #255c1d;
    margin-top: -54%;
}
#text4{
    animation: colorChange 5s infinite alternate;
}
@keyframes colorChange {
    0% {
      color: #2d7922;
    }
    100% {
      color: #255c1d;
    }
  }
#text5{
    margin-top: -15%;
    font-family: "Merriweather";
}

.section2{
    grid-area: 2 / 5 / 2 / 7;
}
.section2 > p{
    color: white;
    font-family: "Merriweather";
    text-align: end;
    margin-top: -96%;
    font-size: 12px;
    opacity: 0.5;
}
.section2 > p > img{
    width: 40px;
    opacity: 0.5;
}

.section3{
    grid-area: 1 / 7 / 2 / 13;
    margin-top: 4%;
    margin-left: 4%;
}
.section3 > img{
    border-radius: 20px;
}

.section4{
    grid-area: 3 / 6 / 3 / 13;
}
.section4 > p{
    color: white;
    background: linear-gradient(135deg rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0).18;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 10;
    font-family: "Montserrat";
    font-size: 12px;
    text-align: center;
    padding: 20px;
    animation: floatAnimation 5s infinite alternate;
}
#text6{
    width: 30%;
    margin-left: 24%;
    margin-top: -52%;
}
#text7{
    width: 50%;
    margin-left: 40%;
    margin-top: 0%;
}
#text8{
    width: 50%;
    margin-left: 24%;
    margin-top: 0%;
}
#text9{
    width: 30%;
    margin-left: 50%;
    margin-top: 0%;
}

.section5{
    grid-area: 4 / 1 / 4 / 7;
}
#text10{
    color: #fcdd2f;
    font-size: 12px;
    font-family: "Montserrat";
    margin-top: -13%;
    opacity: 0.6;
}
#text11{
    padding: 8px 80px;
    background-color: #fcdd2f;
    color: black;
    border-radius: 20px;
    opacity: 0.6;
    text-decoration: none;
    font-family: "Merriweather";
    font-size: 12px;
}

.section6{
    grid-area: 5 / 1 / 5 / 13;
    display: flex;
}
.section6 > p{
    color: white;
    margin-top: 1%;
    margin-left: 1%;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
}
#text12, #text13, #text14, #text15, #text16,#text17, #text18, #text19, #text20{
    margin-right: 2%;
} 
#text12, #text13, #text14, #text15, #text16,#text17, #text18, #text19, #text20, #text21{
    padding: 10px;
    border: 2px solid #255c1d;
    border-radius: 20px;
    animation: slide 5s linear infinite alternate-reverse;
} 
@keyframes slide {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(65%);
    }
}

.section7{
    grid-area: 6 / 1 / 6 / 13;
    color: white;
    font-family: "Merriweather";
}
#text22{
    text-align: end;
    justify-content: end;
    font-size: 18px;
    margin-top: 2%;
}
#text23{
    text-align: end;
    font-size: 14px;
}

.section8{
    grid-area: 7 / 1 / 7 / 13;
}
.section8 > img{
    width: 80%;
}
#graphics8{
    margin-top: -90%;
    margin-left: 0%;
}

.graphics7{
    grid-area: 7 / 1 / 7 / 13;
    margin-top: -18%;
}
.graphics7 > a > img{
    border-radius: 20px;
}
.graphics9{
    grid-area: 7 / 3 / 8 / 5;
    margin-top: -107%;
}
.graphics9 > a > img{
    border-radius: 20px;
    margin-left: -15%;
}
.graphics10{
    grid-area: 7 / 6 / 7 / 13;
    margin-top: -30%;
}
.graphics10 > a > img{
    border-radius: 20px;
    margin-left: -1%;
}
.graphics12{
    grid-area: 7 / 8 / 7 / 13;
    margin-top: -42%;
}
.graphics12 > a > img{
    border-radius: 20px;
    margin-left: -8%;
}

.graphics8{
    grid-area: 8 / 1 / 7 / 13;
    margin-top: -4%;
}
.graphics8 > a > img{
    border-radius: 20px;
}
.graphics11{
    grid-area: 8 / 6 / 8 / 7;
    margin-top: -40%;
}
.graphics11 > a > img{
    border-radius: 20px;
    margin-left: -2%;
}
.graphics13{
    grid-area: 8 / 8 / 8 / 9;
    margin-top: -160px;
}
.graphics13 > a > img{
    border-radius: 20px;
    margin-left: -102px;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #fcdd2f;
    margin-top: 3%;
    margin-left: 30px;
    margin-right: 30px;
    color: black;
    font-size: 12px;
    font-family: "Montserrat";
}

.footer-grid > p{
    grid-area: 1 / 1 / 1  6;
    margin-left: 30px;
}
.footer-grid > a{
    grid-area: 1 / 1 / 1  6;
    margin-left: 30px;
    text-decoration: none;
}

/* About */

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 100px;
    padding: 20px;
    color:#fff;
}
h2{
    font-family: "Montserrat";
    text-align: center;
}

p{
    font-family: "Merriweather";
    text-align: justify;
}

.image-gallery img{
    width:100%;
    height:32%;
}

.image-gallery1 img{
    width:100%;
    height:25%;
}

.mivi {
    grid-column: 1 / span 12;
    grid-row: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}

.mivi p {
    position: relative;
    width: 350px;
    background-color: #000;
    padding: 50px;
    border-radius: 20px;
    font-size: 1.3vw;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01);
    color: #fff; 
}

.mivi p::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
    border-radius: inherit; 
    transform: scale(0.9) translateZ(0);
    filter: blur(15px);
    background: linear-gradient(
        to left,
        #255c1d,
        #2A2828,
        #3D6E3D,
        #4a8f6e,
        #3d6e53,
        #255c1d,
        #2A2828,
        #3D6E3D,
        #4a8f6e,
        #3d6e53
    );
    background-size: 300% 300%;
    animation: animateGlow 2.25s linear infinite;
}

@keyframes animateGlow {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }

    
}

.image-gallery{
    grid-column: 12 / span 12;
    grid-row: 1;
    transition: transform 0.3s ease;

}

.image-gallery1{
    grid-column: 12 / span 12;
    grid-row: 2;
    transition: transform 0.3s ease;

}



.image-gallery2{
    grid-column: 12 / span 12;
    grid-row: 2;

}

.mission h2{
    opacity: 0.7;
    color:#255c1d;
    padding:5px;
    font-size: 6vw;
    animation: changeColor 5s linear infinite;
}
.vision h2{
    opacity: 0.7;
    color:#255c1d;
    padding:5px;
    font-size: 6vw;
    animation: changeColor 5s linear infinite;
}

.history{
    grid-column: 5/span 6;
    grid-row: 2;
}
.history p {
    width: 750px;
    background: linear-gradient(135deg rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0).18;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    font-size: 1.3vw;
    color: #666;
    
}

.history h2{
    opacity: 0.7;
    color:#255c1d;
    padding:5px;
    font-size: 6vw;
    animation: changeColor 5s linear infinite;
    text-align: center;
}

.nature h2{
    opacity: 0.7;
    color:#255c1d;
    padding:5px;
    font-size: 6vw;
    animation: changeColor 5s linear infinite;
}

.nature{
    grid-column: 6/span 6;
    grid-row: 3;
    width:800px;

}

.nature p {
    width: 800px;
    background: linear-gradient(135deg rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0).18;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    font-size: 1.3vw;
    color: #666;
    
}

@keyframes changeColor {
    0% {
        color:#255c1d
    }
    25% {
        color:#2d7922;
    }
    50% {
        color: green;
    }
    75% {
        color: orange;
    }
    100% {
        color:#4a8f6e;
    }
}


/*Updates and News*/
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.wrapper {
    display: flex;
    justify-content: space-between; 
    margin-left: 50px;
    margin-right: 50px; 
}

.reports {
    width: calc(100% - 250px - 20px); 
}

.updates {
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

.updates .headline {
    font-size: 32px;
    margin-top: 0;
}

.image-placeholder {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.section-heading {
    font-size: 24px;
    margin-bottom: 10px;
}

.updates .section-content {
    padding: 20px;
    border-radius: 10px;
    background-color: #2A2828;
    color: #fff;
    width: 255px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}


.updates .section-content:hover {
    transform: scale(1.05);
}
.updates h3 {
    color: #fff;
    font-family: "Montserrat";
    grid-column: 2/span 12;
    opacity: 0.7;
    color:orange;
    padding:5px;
    font-size: 2vw;
    text-align: center;
    margin-right:-65px;

}

.reports .news-article {
    grid-column: 2/span 12;
    width:750px;
    background-color: #000000;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.reports .news-article h3 {
    color: #fff;
    font-family: "Montserrat";
    grid-column: 2/span 12;
    opacity: 0.7;
    color:#255c1d;
    padding:5px;
    font-size: 4vw;
    animation: changeColor 5s linear infinite;
    text-align: center;
    
}

.news-article img{
    display: block; 
    margin: 0 auto;
}

.wrap-text{
    background-color: #255c1d;
    color:#fff;
    border-radius: 10px;
    padding:30px;

}
.reports .section h2{
    color: #fff;
    font-family: "Montserrat";
    grid-column: 2/span 12;
    opacity: 0.7;
    color:#255c1d;
    padding:5px;
    font-size: 6vw;
    animation: changeColor 5s linear infinite;
    text-align: center;

}



/* What we do */
.what-we-do {
    grid-column: 1 / span 10; 
    grid-row:1;
    padding: 0px; 
    margin-top: 40px; 
    height: 600px;
    position: relative;
    overflow: hidden;
}

.what-we-do h2 {
    text-align: center;
    margin-top: 200px;
    color:#fff;
    font-family: "Montserrat";
    font-size: 10vw;
}

.mySlides {
    width: 100%;
    height: auto;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    z-index: -1;
    filter: blur(3px);
}

.mySlides:nth-child(1) {
    animation: fade 10s infinite;
}

.mySlides:nth-child(2) {
    animation: fade 10s infinite 2.5s;
}

.mySlides:nth-child(3) {
    animation: fade 10s infinite 5s;
}

.mySlides:nth-child(4) {
    animation: fade 10s infinite 7.5s;
}

@keyframes fade {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}

.objective {
    grid-column: 1 / span 12;
    grid-row: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    color: #666;
}

.objective h1 {
    color: #fff;
    font-family: "Montserrat";
    grid-column: 2/span 12;
    opacity: 0.7;
    color:#255c1d;
    padding:5px;
    font-size: 6vw;
    animation: changeColor 5s linear infinite;
    text-align: center;
}

.objective p{
    color:#666;

}



.goal-container {
    grid-column: 1/span 12;;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    font-family: "Montserrat";
    color: #fff;
}

.goal-container h1{
    color: #fff;
    font-family: "Montserrat";
    grid-column: 1/span 12;
    opacity: 0.7;
    color:#255c1d;
    padding:5px;
    animation: changeColor 5s linear infinite;
    text-align: center;
    font-size: 6vw;
}

.goal-container p {
    position: relative;
    grid-column: 1/span 12;
    grid-row: 4;
    width: 700px;
    background-color: #000;
    padding: 50px;
    border-radius: 20px;
    font-size: 1.3vw;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01);
    color: #fff; 
}

.goal-container p::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
    border-radius: inherit; 
    transform: scale(0.9) translateZ(0);
    filter: blur(15px);
    background: linear-gradient(
        to left,
        #255c1d,
        #2A2828,
        #3D6E3D,
        #4a8f6e,
        #3d6e53,
        #255c1d,
        #2A2828,
        #3D6E3D,
        #4a8f6e,
        #3d6e53
    );
    background-size: 300% 300%;
    animation: animateGlow 2.25s linear infinite;
}

@keyframes animateGlow {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }

    
}

.advocacy-container {
    grid-column: 2/ span 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}

.advocacy-container h1 {
    color: #255c1d; 
    font-family: "Montserrat";
    grid-column: 1 /span 12;
    grid-row: 10;
    opacity: 0.7;
    padding: 5px;
    animation: changeColor 5s linear infinite;
    text-align: center;
    font-size: 6vw;
    margin-top: 150px; 
}


.advocacy-container .card {
    grid-row:4;
    width: calc(43.33% - 10px); 
    position: relative;
}

.advocacy-container .card .face {
    width: 100%;
    height: 250px;
    transition: .4s;
}

.advocacy-container .card .face.face1 {
    position: relative;
    background: #000000;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.advocacy-container .card:hover .face.face1 {
    transform: translateY(0);
    box-shadow: inset 0 0 10px #2d7922, inset 5px 0 20px #5F8D4E, inset -20px 0 80px #4a8f6e, inset 20px 0 300px #333, inset -20px 0 300px #255c1d, 0 0 50px #4a8f6e, -10px 0 8px #5F8D4E, 10px 0 20px rgb(17, 42, 42);
}

.advocacy-container .card .face.face1 .content {
    opacity: .2;
    transition: 0.5s;
    text-align: center;
}

.advocacy-container .card:hover .face.face1 .content {
    opacity: 56;
}

.advocacy-container .card .face.face1 .content h3 {
    font-size: 1em;
    color: white;
    text-align: center;
}

.advocacy-container .card .face.face1 .content a {
    transition: .5s;
}

.advocacy-container .card .face.face2 {
    position: relative;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.8);
    transform: translateY(-100px);
}

.advocacy-container .card:hover .face.face2 {
    transform: translateY(0);
}

.advocacy-container .card .face.face2 .content p,
.advocacy-container .card .face.face2 .content a {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    color: #333;
}

.advocacy-container .card .face.face2 .content a {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    outline: 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
}

.advocacy-container .card .face.face2 .content a:hover {
    color: whitesmoke;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.content h3{
    font-size: 5vw;
    font-family: 'Montserrat';
}

.content img {
    display:block;
    margin:0 auto;
    width:100%;
    height:100%;

}

/*Activities*/

.wrapper-act{
    display: block;
    justify-content: center;
}

.wrapper-act h1{
    color: #255c1d; 
    font-family: "Montserrat";
    grid-column: 1 /span 12;
    grid-row: 1;
    opacity: 0.7;
    padding: 5px;
    animation: changeColor 5s linear infinite;
    text-align: center;
    font-size: 6vw;
    margin-top: 20px; 

}
.section {
    margin: 20px;
}

.section-heading {
    font-size: 24px;
    margin-bottom: 10px;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blog-article {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 65%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1s ease forwards;
}

.blog-article h3 {
    font-size: 2vw;
    margin-bottom: 10px;
    text-align: center;
    font-family:'Merriweather'
}

.blog-article img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.wrap-text {
    margin-bottom: 20px;
}

.wrap-text p {
    margin-bottom: 10px;
}

.blog-article a[type="button"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.blog-article a[type="button"]:hover {
    background-color: #0056b3;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 768px) {
    .blog-article {
        width: calc(50% - 20px); 
    }
}


/*Members*/
.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size:30px;
}
a{
    text-decoration: none;
    color:white;

}

.pic{
    background-size: cover;
    background-repeat: no-repeat;


}

.nav {
    display: flex;
    height: 70px;
    place-items: center;
    justify-content: space-between;
  }
  .div1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    font-weight: bold;
    font-size:30px;
    gap:20px;

}
.div2{
    width: 30%;

}
.div3{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
    width: 50%;
    color:white;
    font-weight: bold;
    font-size:20px;
    gap:20px;
}
.selected{
    background-color: rgb(75, 46, 46);
    border-radius:20px;
    padding:5px 10px;
    color: white;
}
  
.text_nav {
    height: 70%;
    margin-right: 20px;
  }
.main{
    background-image: url('Assets/membg.jpg');
    border:solid;
    display:flex;
    height: 90dvh;
    gap:40px;
    align-items: center;

}
.leftpic{
    display: flex;
    justify-self: center;
    height:80%;
    width: 80dvh;
    margin-left: 5%;   
    gap:5px;
}

.titleRight{
    font-size:20dvh;
}

.members {
    display: flex;
    height: 70vh;
    gap: 3%;
    align-items: center;
    justify-content: center;
}

.fc {
    height: 50vh;
    width: 20%;
    position: relative;
    overflow: hidden; 
}

.container {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}



.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 140, 186, 0.5); 
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 20px;
}

.container:hover .image-overlay {
    opacity: 1;
}

.overlaytxt {
    white-space: nowrap;
    color: white;
    font-size: 20px;
}



.fooditem{
    margin-bottom:150px;

}

.foodContainer{
    height: 120 dvh;
}
.foodname{
    display: flex;
    height:20dvh;
    justify-content: center;
    align-items: center;
    
}
.foodname name{
    text-align: center;
    font-weight: bold;
    padding:10px;
    font-size: 3em;
    width:20%;
    align-self: center;
    border-bottom:Solid black;
}


.foodDesc{
    display: flex;
    height:80dvh;
    gap:2%;
    justify-content: center;
    align-items: center;

}

.ingtxt{
    margin-bottom: 10px;
    font-size:20px;
}

.foodOverview{
    width: 45%;
}



.f1{
    height: 90%;
    width: 45%;
    background-image: url('Assets/adviser.jpg');
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
    
}

.f1:hover{
    transform: scale(1.03);     
}

.f2{
    height: 90%;
    width: 45%;
    background-image: url('Assets/pres.jpg');
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f2:hover{
    transform: scale(1.03);     
}

.f3{
    height: 90%;
    width: 45%;
    background-image: url('Assets/vice.jpg');
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f3:hover{
    transform: scale(1.03);     
}
.f4{
    height: 90%;
    width: 45%;
    background-image: url('Assets/viceEx.jpg');
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f4:hover{
    transform: scale(1.03);     
}
.f5{
    height: 90%;
    width: 45%;
    background-image: url('Assets/sec.jpg');
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f5:hover{
    transform: scale(1.03);     
}
.f6{
    height: 90%;
    width: 45%;
    background-image: url('Assets/tres.jpg');
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f6:hover{
    transform: scale(1.03);     
}
.f7{
    height: 90%;
    width: 45%;
    background-image: url('Assets/audi.jpg');
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f7:hover{
    transform: scale(1.03);     
}
.f8{
    height: 90%;
    width: 45%;
    background-image: url('Assets/BM.jpg');
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f8:hover{
    transform: scale(1.03);     
}
.f9{
    height: 90%;
    width: 45%;
    background-image: url('Assets/BM.jpg');
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f:hover{
    transform: scale(1.03);     
}
.f9{
    height: 90%;
    width: 45%;
    background-image: url('Assets/logi.jpg');
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f9:hover{
    transform: scale(1.03);     
}

.f10{
    height: 90%;
    width: 45%;
    background-image: url('Assets/MD.jpg');
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f10:hover{
    transform: scale(1.03);     
}
.f11{
    height: 90%;
    width: 45%;
    background-image: url('Assets/pr1.png');
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f11:hover{
    transform: scale(1.03);     
}
.f12{
    height: 90%;
    width: 45%;
    background-image: url('Assets/4th.jpg');
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
    color:white;
   
}
.f12:hover{
    transform: scale(1.03);     
}
.f13{
    height: 90%;
    width: 45%;
    background-image: url('Assets/3rd.jpg');
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f13:hover{
    transform: scale(1.03);     
}
.f14{
    height: 90%;
    width: 45%;
    background-image: url('Assets/2nd.jpg');
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f14:hover{
    transform: scale(1.03);     
}
.f15{
    height: 90%;
    width: 45%;
    background-image: url('Assets/1st1.png');
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
   
}
.f15:hover{
    transform: scale(1.03);     
}


.text{
    margin: 5%;
    
}
#BigFont{
    font-size: 30px;

}

.instructions{
    margin-top: 10px;
    text-align: justify;
}

/* Video */


.OH{
    display: flex;
    margin-top:5dvh;
    height:30dvh;
    justify-content: center;
    align-items: center;
    background-image: url(bg.jpg);
}
.OHTitle{
    font-size: 50px;
    text-align: center;
    height:fit-content;
    width:50%;
    font-weight: bold;

}

.OHContent{
    margin-top: 10px;
    height: 80dvh;
    color: white;
    
}


.OHContent{
    height:120dvh;
    color: white;
}

.OH_top{
    display:flex;
    height:50%;
    color: white;

}

.OH_top_content{
    align-content: center;
    width: 50%;
    color: white;
}
.pic{
    background-size: cover;
    background-repeat: no-repeat;
}

.D1{
    background-image: url('Assets/adv1.png');  
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D2{
    background-image: url('Assets/adv2.jpg'); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D3{
    background-image: url('Assets/pres1.png');  
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D4{
    background-image: url('Assets/pres1.jpg');
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D5{
    background-image: url('Assets/vpi1.png');    
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D6{
    background-image: url('Assets/vpi2.png'); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D7{
    background-image: url('Assets/vce1.png'); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D8{
    background-image: url('Assets/vce2.jpg'); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D9{
    background-image: url('Assets/sec2.png');    
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D10{
    background-image: url('Assets/sec1.png');
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D11{
    background-image: url('Assets/1st1.jpg');  
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D12{
    background-image: url('Assets/tres2.png'); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D13{
    background-image: url('Assets/audi1.jpg');   
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D14{
    background-image: url('Assets/audi2.jpg');
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D15{
    background-image: url('Assets/bm1.png');  
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D16{
    background-image: url('Assets/bm2.png'); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D17{
    background-image: url('Assets/1st1.jpg'); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D18{
    background-image: url('Assets/logi2.png'); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D19{
    background-image: url('Assets/md1.jpg'); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D20{
    background-image: url('Assets/md2.png'); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D21{
    background-image: url('Assets/pr1.png'); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D22{
    background-image: url('Assets/pr2.jpg'); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D23{
    background-image: url('Assets/4th1.png'); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D24{
    background-image: url('Assets/4th2.jpg'); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D25{
    background-image: url('Assets/3rd1.png'); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D26{
    background-image: url('Assets/3rd2.png'); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D27{
    background-image: url('Assets/2nd1.jpg'); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D28{
    background-image: url('Assets/2nd2.png'); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D29{
    background-image: url('Assets/1st1.jpg'); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.D30{
    background-image: url('Assets/1st2.jpg'); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}


.txt_mid{
    padding: 30px;
    font-size: 20px;
}

.returnTop {
    position: sticky;
    position: fixed;
    z-index: 50;
    bottom: 0px;
    right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    button{
      background-color: rgb(75, 46, 46,.5);
      padding-left: 50px;
      padding-right: 50px;
      padding: 20px;
      border-radius: 0.5rem;
      cursor: pointer;
      color: aliceblue;
    }
    a{
      color: white;
      text-decoration: none;
    }
}