@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

body{
    background-color: #000000;
}


.header-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 12px 30px;
    
}
header > a{
    grid-area: 1 / 1 / 1 / 2;
    padding-top: 4%;
    background: #000000;
    width: 60%;
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0).18;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 10;
    animation: floatAnimation 5s infinite alternate;
}
header > a > img:nth-child(1){
    width: 40px;
}
.pages{
    grid-area: 1 / 2 / 1 / 7;
    margin-top: 0%;
    margin-left: -5%;
    padding-top: 1%;
    grid-column: 4 / span 12;
    text-align: center;
    background: linear-gradient(90deg, rgba(37,92,29,1) 0%, rgba(37,92,29,1) 0%, rgba(17,17,17,1) 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0).18;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 10;
    width:1090px;
}
.pages > a{
    font-family: "Montserrat";
    font-size: 12px;
    color: white;
    text-decoration: none;
}
#pages-margin{
    margin-right: 2%;
}
.pages > a:hover{
    color: #fcdd2f;
}
@keyframes floatAnimation{
    0%{
        transform: translateY(0); 
    }
    50%{
        transform: translateY(-5px); 
    }
    100%{
        transform: translateY(0);
    }
}

.body-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-left: 30px;
    padding-right: 40px;
}

.graphics1{
    grid-area: 1 / 1 / 1 / 4;
    height: 180px;
    width: 96%;
    background-color: #2A2828;
    border-radius: 20px;
    opacity: 0.7;
    margin-top: 8%;
}
.graphics2{
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    width: 85%;
    height: 30%;
    border-radius: 20px;
    background-color: #000000;
    color: white;
    font-size: 24px;
    font-family: "Montserrat";
}
.graphics2 > img{
    width: 40px;
    margin-top: 3%;
    margin-left: 2%;
}
#text1{
    margin-top: -15%;
    margin-left: 24%;
}
.graphics3{
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    width: 20%;
    height: 30%;
    border-radius: 20px;
    background-color: #000000;
    color: white;
    font-size: 24px;
    font-family: "Montserrat";
}
.graphics3 > img{
   width: 50px;
   margin-left: 5%;
}
#text2{
    margin-top: -90%;
    margin-left: 140%;
}

.graphics4{
    grid-area: 1 / 4 / 1 / 7;
    margin-top: 8%;
    margin-left: 1%;
    height: 180px;
    border-radius: 20px;
    opacity: 0.7;
    border: 1px solid white;
}
.graphics4 > p{
    margin-left: 4%;
}
.graphics4 > p:nth-child(1){
    width: 70%;
    border: 2px solid #255c1d;
    border-radius: 20px;
}
.graphics4 > p:nth-child(2){
    width: 52%;
    margin-top: 2%;
    border-radius: 20px;
}
.graphics4 > p:nth-child(3){
    width: 90%;
    margin-top: 2%;
}
.graphics4 > a{
    margin-left: 4%;
}
#text3{
    font-family: "Montserrat";
    font-size: 12px;
    color: white;
    text-align: left;
    padding: 2%;
}

.section1{
    grid-area: 2 / 1 / 2 / 6;
    font-size: 60px;
    font-family: "Montserrat";
    color: #255c1d;
    margin-top: -54%;
}
#text4{
    animation: colorChange 5s infinite alternate;
}
@keyframes colorChange {
    0% {
      color: #2d7922;
    }
    100% {
      color: #255c1d;
    }
  }
#text5{
    margin-top: -15%;
    font-family: "Merriweather";
}

.section2{
    grid-area: 2 / 5 / 2 / 7;
}
.section2 > p{
    color: white;
    font-family: "Merriweather";
    text-align: end;
    margin-top: -96%;
    font-size: 12px;
    opacity: 0.5;
}
.section2 > p > img{
    width: 40px;
    opacity: 0.5;
}

.section3{
    grid-area: 1 / 7 / 2 / 13;
    margin-top: 4%;
    margin-left: 4%;
}
.section3 > img{
    border-radius: 20px;
}

.section4{
    grid-area: 3 / 6 / 3 / 13;
}
.section4 > p{
    color: white;
    background: linear-gradient(135deg rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0).18;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 10;
    font-family: "Montserrat";
    font-size: 12px;
    text-align: center;
    padding: 20px;
    animation: floatAnimation 5s infinite alternate;
}
#text6{
    width: 30%;
    margin-left: 24%;
    margin-top: -52%;
}
#text7{
    width: 50%;
    margin-left: 40%;
    margin-top: 0%;
}
#text8{
    width: 50%;
    margin-left: 24%;
    margin-top: 0%;
}
#text9{
    width: 30%;
    margin-left: 50%;
    margin-top: 0%;
}

.section5{
    grid-area: 4 / 1 / 4 / 7;
}
#text10{
    color: #fcdd2f;
    font-size: 12px;
    font-family: "Montserrat";
    margin-top: -13%;
    opacity: 0.6;
}
#text11{
    padding: 8px 80px;
    background-color: #fcdd2f;
    color: black;
    border-radius: 20px;
    opacity: 0.6;
    text-decoration: none;
    font-family: "Merriweather";
    font-size: 12px;
}

.section6{
    grid-area: 5 / 1 / 5 / 13;
    display: flex;
}
.section6 > p{
    color: white;
    margin-top: 1%;
    margin-left: 1%;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
}
#text12, #text13, #text14, #text15, #text16,#text17, #text18, #text19, #text20{
    margin-right: 2%;
} 
#text12, #text13, #text14, #text15, #text16,#text17, #text18, #text19, #text20, #text21{
    padding: 10px;
    border: 2px solid #255c1d;
    border-radius: 20px;
    animation: slide 5s linear infinite alternate-reverse;
} 
@keyframes slide {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(65%);
    }
}

.section7{
    grid-area: 6 / 1 / 6 / 13;
    color: white;
    font-family: "Merriweather";
}
#text22{
    text-align: end;
    justify-content: end;
    font-size: 18px;
    margin-top: 2%;
}
#text23{
    text-align: end;
    font-size: 14px;
}

.section8{
    grid-area: 7 / 1 / 7 / 13;
}
.section8 > img{
    width: 80%;
}
#graphics8{
    margin-top: -90%;
    margin-left: 0%;
}

.graphics7{
    grid-area: 7 / 1 / 7 / 13;
    margin-top: -18%;
}
.graphics7 > a > img{
    border-radius: 20px;
}
.graphics9{
    grid-area: 7 / 3 / 8 / 5;
    margin-top: -107%;
}
.graphics9 > a > img{
    border-radius: 20px;
    margin-left: -15%;
}
.graphics10{
    grid-area: 7 / 6 / 7 / 13;
    margin-top: -30%;
}
.graphics10 > a > img{
    border-radius: 20px;
    margin-left: -1%;
}
.graphics12{
    grid-area: 7 / 8 / 7 / 13;
    margin-top: -42%;
}
.graphics12 > a > img{
    border-radius: 20px;
    margin-left: -8%;
}

.graphics8{
    grid-area: 8 / 1 / 7 / 13;
    margin-top: -4%;
}
.graphics8 > a > img{
    border-radius: 20px;
}
.graphics11{
    grid-area: 8 / 6 / 8 / 7;
    margin-top: -40%;
}
.graphics11 > a > img{
    border-radius: 20px;
    margin-left: -2%;
}
.graphics13{
    grid-area: 8 / 8 / 8 / 9;
    margin-top: -160px;
}
.graphics13 > a > img{
    border-radius: 20px;
    margin-left: -102px;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #fcdd2f;
    margin-top: 3%;
    margin-left: 30px;
    margin-right: 30px;
    color: black;
    font-size: 12px;
    font-family: "Montserrat";
}

.footer-grid > p{
    grid-area: 1 / 1 / 1  6;
    margin-left: 30px;
}
.footer-grid > a{
    grid-area: 1 / 1 / 1  6;
    margin-left: 30px;
    text-decoration: none;
}

/* About */

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 100px;
    padding: 20px;
    color:#fff;
}
h2{
    font-family: "Montserrat";
    text-align: center;
}

p{
    font-family: "Merriweather";
    text-align: justify;
}

.mivi {
    grid-column: 1 / span 12;
    grid-row: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}

.mivi p {
    position: relative;
    width: 350px;
    background-color: #000;
    padding: 50px;
    border-radius: 20px;
    font-size: 1.3vw;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01);
    color: #fff; 
}

.mivi p::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
    border-radius: inherit; 
    transform: scale(0.9) translateZ(0);
    filter: blur(15px);
    background: linear-gradient(
        to left,
        #255c1d,
        #2A2828,
        #3D6E3D,
        #4a8f6e,
        #3d6e53,
        #255c1d,
        #2A2828,
        #3D6E3D,
        #4a8f6e,
        #3d6e53
    );
    background-size: 300% 300%;
    animation: animateGlow 2.25s linear infinite;
}

@keyframes animateGlow {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }

    
}

.image-gallery{
    grid-column: 12 / span 12;
    grid-row: 1;

}

.image-gallery1{
    grid-column: 12 / span 12;
    grid-row: 2;

}

.image-gallery2{
    grid-column: 12 / span 12;
    grid-row: 2;

}

.mission h2{
    opacity: 0.7;
    color:#255c1d;
    padding:5px;
    font-size: 6vw;
    animation: changeColor 5s linear infinite;
}
.vision h2{
    opacity: 0.7;
    color:#255c1d;
    padding:5px;
    font-size: 6vw;
    animation: changeColor 5s linear infinite;
}

.history{
    grid-column: 5/span 6;
    grid-row: 2;
}
.history p {
    width: 750px;
    background: linear-gradient(135deg rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0).18;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    font-size: 1.3vw;
    color: #666;
    
}

.history h2{
    opacity: 0.7;
    color:#255c1d;
    padding:5px;
    font-size: 6vw;
    animation: changeColor 5s linear infinite;
    text-align: center;
}

.nature h2{
    opacity: 0.7;
    color:#255c1d;
    padding:5px;
    font-size: 6vw;
    animation: changeColor 5s linear infinite;
}

.nature{
    grid-column: 6/span 6;
    grid-row: 3;
    width:800px;

}

.nature p {
    width: 800px;
    background: linear-gradient(135deg rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0).18;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    font-size: 1.3vw;
    color: #666;
    
}

@keyframes changeColor {
    0% {
        color:#255c1d
    }
    25% {
        color:#2d7922;
    }
    50% {
        color: green;
    }
    75% {
        color: orange;
    }
    100% {
        color:#4a8f6e;
    }
}


/*Updates*/
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    padding: 20px;
}
.updates .section-content {
    background-color: #4a8f6e;
    padding: 20px;
    border-radius: 10px;
}
.updates .headline {
    font-size: 32px;
    margin-top: 0;
}
.image-placeholder {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}
.video-placeholder {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}
.section {
    grid-column: span 12;
    margin-top: 80px;
}
.section-heading {
    font-size: 24px;
    margin-bottom: 10px;
}
.section-content {
    padding: 20px;
    border-radius: 10px;
}
.activities .section-content {
    background-color: #5F8D4E;
}
.activities .blog-post {
    background-color: #3D6E3D;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.activities .blog-post h3 {
    margin-top: 0;
}
.reports .news-article {
    background-color: #3d6e53;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.reports .news-article h3 {
    margin-top: 0;
}

/* What we do */
.what-we-do {
    grid-column: 1 / span 10; 
    grid-row:1;
    padding: 0px; 
    margin-top: 40px; 
    height: 600px;
    position: relative;
    overflow: hidden;
}

.what-we-do h2 {
    text-align: center;
    margin-top: 200px;
    color:#fff;
    font-family: "Montserrat";
    font-size: 10vw;
}

.mySlides {
    width: 100%;
    height: auto;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    z-index: -1;
    filter: blur(3px);
}

.mySlides:nth-child(1) {
    animation: fade 10s infinite;
}

.mySlides:nth-child(2) {
    animation: fade 10s infinite 2.5s;
}

.mySlides:nth-child(3) {
    animation: fade 10s infinite 5s;
}

.mySlides:nth-child(4) {
    animation: fade 10s infinite 7.5s;
}

@keyframes fade {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}

.objective {
    grid-column: 1 / span 12;
    grid-row: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    color: #666;
}

.objective h1 {
    color: #fff;
    font-family: "Montserrat";
    grid-column: 2/span 12;
    opacity: 0.7;
    color:#255c1d;
    padding:5px;
    font-size: 6vw;
    animation: changeColor 5s linear infinite;
    text-align: center;
}

.objective p{
    color:#666;

}



.goal-container {
    grid-column: 1/span 12;;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    font-family: "Montserrat";
    color: #fff;
}

.goal-container h1{
    color: #fff;
    font-family: "Montserrat";
    grid-column: 1/span 12;
    opacity: 0.7;
    color:#255c1d;
    padding:5px;
    animation: changeColor 5s linear infinite;
    text-align: center;
    font-size: 6vw;
}

.goal-container p {
    position: relative;
    grid-column: 1/span 12;
    width: 700px;
    background-color: #000;
    padding: 50px;
    border-radius: 20px;
    font-size: 1.3vw;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01);
    color: #fff; 
}

.goal-container p::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
    border-radius: inherit; 
    transform: scale(0.9) translateZ(0);
    filter: blur(15px);
    background: linear-gradient(
        to left,
        #255c1d,
        #2A2828,
        #3D6E3D,
        #4a8f6e,
        #3d6e53,
        #255c1d,
        #2A2828,
        #3D6E3D,
        #4a8f6e,
        #3d6e53
    );
    background-size: 300% 300%;
    animation: animateGlow 2.25s linear infinite;
}

@keyframes animateGlow {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }

    
}


.advocacy-container {
    grid-template-columns: minmax(12,1fr);
    grid-column: 6 span 12;
    padding: 20px;
    max-width: 800px;
    display: block;
    margin:0 auto;
    width:700px;
    font-family: "Montserrat";
}

.advocacy-header {
    color: #fff;
    font-family: "Montserrat";
    grid-column: 1/span 12;
    opacity: 0.7;
    color:#255c1d;
    padding:5px;
    animation: changeColor 5s linear infinite;
    text-align: center;
    font-size: 6vw;
}

.advocacy-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.advocacy-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.advocacy-card:hover {
    transform: translateY(-5px);
}

.card-content {
    padding: 20px;
}

.card-icon {
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.card-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.card-description {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}